<div class="row w-100 inner_footer_container">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 footer_column second_column">
            <div class="social_net_container">         
                        <a href="https://www.facebook.com"><img src={{ content.field_red_facebook.0 }} alt='facebook_logo' id="f_net_logo" class="img-fluid net_logo"></a>
                        <a href="https://www.instagram.com"><img src={{ content.field_red_instagram.0 }} alt='instagram_logo' id="i_net_logo" class="img-fluid net_logo"></a>
                        <a href="https://www.linkedin.com"><img src={{ content.field_red_linkedin.0 }} alt='linkedin_logo' id="l_net_logo" class="img-fluid net_logo"></a>
                        <a href="https://twitter.com"><img src={{ content.field_red_twitter.0 }} alt='twitter_logo' id="t_net_logo" class="img-fluid net_logo"></a>            
            </div>

            <div class="footer_contact">
                <h3 class="footer_primary_label" id="contact_label">Contáctanos</h3>
                <div class="direction_container">
                    <i class='fas fa-map-marker-alt'></i>
                    <span>{{ content.field_direccion.0 }}</span>
                </div>

                <div class="email_container">
                    <i class="fa fa-envelope"></i>
                    {{ content.field_email_contact.0 }}
                </div>

                <div class="telf_container">
                    {{ content.field_telf_contact.0 }}
                </div>

            </div>

                     

        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 footer_column first_column">
                
                <img src="/sites/default/files/2020-07/Logo%20Final.png" id="logo_footer" clas="img-fluid">

        
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 footer_column third_column">
            {{ content.field_descripcion_contact.0 }}
        </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 footer_copyright">
    <span>{{ content.field_copyright.0 }}</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 developer_brand">
    <span>{{ content.field_descripcion_desarrollo.0 }}</span>
</div>


